<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.MixedReality.Toolkit.Foundation" version="2.3.0" targetFramework="net472" />
  <package id="Microsoft.MixedReality.Toolkit.Tools" version="2.3.0" targetFramework="net472" />
  <package id="Microsoft.Windows.MixedReality.DotNetWinRT" version="0.5.1045" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
</packages>